{% extends '@templates/site-container.twig' %}

  {% block content %}

    {% block hero_image %}
      {% include "@atoms/image/_image.twig" with {
        image: {
          variant: 'primary',
          src: paths.images ~'/hcrc-banner.png'
        },
        image_classes: ['d-inline', 'w-100']
      } %}
    {% endblock hero_image %}

    {% block intro_paragraph %}
      <div class="container">
        <p class="lead my-5">Lorem ipsum dolor sit amet, cum ex eripuit sadipscing
          accommodare. Eum facete
          dignissim et, veniam nemore adipiscing ne vim. Causae rationibus te
          ius,
          oratio virtute docendi an his, ad saepe saperet pri. Brute mazim
          platonem eu
          mel, mei ludus aperiam phaedrum ad. Insolens lobortis moderatius id
          mel. Rebum
          cetero eleifend nam an.</p>
      </div>
    {% endblock intro_paragraph %}

    {% block core_block %}
      {% include "@molecules/card/_card-two-cols.twig" with card_two_cols_green %}
    {% endblock core_block %}

    {% block card_views %}
      {% include "@molecules/card/_card-three-cols.twig" with card_three_cols %}
    {% endblock card_views%}

  {% endblock %}
